DISCORD_BOT_TOKEN=your_token_here
DISCORD_CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here
WEBHOOK_PORT=3000
WEBHOOK_SECRET=your_secret_here
CHANNEL_EU=eu_channel_id_here
CHANNEL_NA=na_channel_id_here
CHANNEL_ASIA=asia_channel_id_here
CHANNEL_GLOBAL=global_channel_id_here
